.idea/
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
_dev

npm-debug.log
api/node_modules
api/server/index-compiled.js
api/server/index-compiled.js.map
api/server/api/index-compiled.js.map
api/server/api/index-compiled.js
client/node_modules