@import "variables";
@import "mixins";
@import "fonts";

body {
    font-family: 'Lato' , sans-serif !important; //$regular-font !important;
}

a {
    color: $grey-color-dark;
    text-decoration: none;

    &:visited {
        color: darken($grey-color-dark, 15%);
    }

    &:hover {
        color: darken($grey-color-dark, 25%);
    }

    @include css3-prefix('transition', "all 0.2s ease-in-out 0s");
}
